<pre class="ql-syntax" spellcheck="false"><span class="hljs-keyword">package</span> com.llback.api.app.sa.dto.req;

<span class="hljs-keyword">import</span> com.llback.frame.dto.Command;
<span class="hljs-keyword">import</span> lombok.Data;

<span class="hljs-comment">/**
 * 登录命令
 *
 * <span class="hljs-doctag">@author</span> yz.sun
 * <span class="hljs-doctag">@date</span> 2025/7/14
 */</span>
<span class="hljs-meta">@Data</span>
<span class="hljs-keyword">public</span> <span class="hljs-keyword">class</span> <span class="hljs-title class_">LoginCmd</span> <span class="hljs-keyword">implements</span> <span class="hljs-title class_">Command</span> {
    <span class="hljs-comment">/**
     * 用户ID
     */</span><span class="hljs-keyword">private</span> String userId;

    <span class="hljs-comment">/**
     * 密码
     */</span>
    <span class="hljs-keyword">private</span> String password;
}

</pre>
